.website-theme {
    background-color: #f5f5dc;
    font-family: 'Open Sans', 'Calibri', 'Optima', 'Arial', 'Helvetica', 'sans-serif';
    font-weight: 400;
}

.navbar-bg-color {
    background-color: rgb(180, 135, 80)
}