*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


.website-theme {
    /* background-color: #F9F8F0; */
    background-color: rgb(25, 50, 60);
    font-family: 'Open Sans', 'Calibri', 'Optima', 'Arial', 'Helvetica', 'sans-serif';
    font-weight: 400;
}

.navbar-theme-color {
    background-color: rgb(34, 70, 84);
}

.default-text-color {
    color: rgb(243, 247, 240);
}

/* See Project Button */
/* From Uiverse.io by satyamchaudharydev */
/* https://uiverse.io/satyamchaudharydev/rude-wolverine-24 */
.see-project-button {
  position: relative;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  padding-block: 0.5rem;
  padding-inline: 1.25rem;
  background-color: rgb(0 107 179);
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffff;
  gap: 10px;
  font-weight: bold;
  border: 3px solid #ffffff4d;
  outline: none;
  overflow: hidden;
  font-size: 15px;
  cursor: pointer;
}

.project-arrow-icon {
  width: 24px;
  height: 24px;
  transition: all 0.3s ease-in-out;
}

.see-project-button:hover {
  transform: scale(1.05);
  border-color: #fff9;
}

.see-project-button:hover .project-arrow-icon {
  transform: translate(4px);
}

.see-project-button:hover::before {
  animation: shine 1.5s ease-out infinite;
}

.see-project-button::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0) 70%
  );
  top: 0;
  left: -100px;
  opacity: 0.6;
}

@keyframes shine {
  0% {
    left: -100px;
  }

  60% {
    left: 100%;
  }

  to {
    left: 100%;
  }
}
/* End of See Project Button */

/* 404 go home button. */
/* From Uiverse.io by alexroumi */ 
/* https://uiverse.io/alexroumi/shy-sloth-91 */
.go-home-button {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 500;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
}

.go-home-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  /* background-color: #212121; */
  background-color: rgb(34, 70, 84);
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
}

.go-home-button:hover {
  color: #e8e8e8;
}

.go-home-button:hover::before {
  width: 100%; 
}
/* End of 404 go home button. */